In [2]:
import numpy as np
import pandas as pd

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydata = [1776, 1867, 1821]

In [10]:
myser = pd.Series(data=mydata, index=myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[2]

1821

In [13]:
myser['Canada']

1867

In [15]:
ages = {'David': 29, 'Oliver': 5, 'Max': 32}
ages

{'David': 29, 'Oliver': 5, 'Max': 32}

In [16]:
pd.Series(ages)

David     29
Oliver     5
Max       32
dtype: int64

In [18]:
#Imaginary sales data
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Japan': 100, 'China': 500, 'India': 210, 'USA': 260}

In [19]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [20]:
sales_q2

Japan    100
China    500
India    210
USA      260
dtype: int64

In [21]:
sales_q2.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [22]:
sales_q1.add(sales_q2)

Japan    180
China    950
India    410
USA      510
dtype: int64

np.random.seed(101)

np.random.seed(101)
mydata1 = np.random.randint(0,101,(4,3))
mydata

In [26]:
mydata1

NameError: name 'mydata1' is not defined